{{ $item := .item }}
<div class="pub-list-item" style="margin-bottom: 1rem">
  <div class="row">
    <div class="col-auto">
      <i class="fa-li fa-solid fa-file-lines" aria-hidden="true"></i>
    </div>
    <div class="col">

      {{/* Title */}}
      <div class="pub-title">
        <a href="{{$item.RelPermalink}}">{{ $item.Title | markdownify | emojify }}</a>
      </div>

      {{/* Authors and Year */}}
      <div class="pub-authors">
        {{ partial "page_metadata_authors" $item }}
        {{/* This adds (2025) to the end of the author line */}}
        <span class="pub-year">({{ $item.Date.Format "2006" }})</span>
      </div>

      <div class="pub-details">
        {{/* Publication details */}}
        <span class="pub-publication">
          {{- with $item.Params.publication -}}
            {{- . | markdownify | emojify -}}
          {{- end -}}
        </span>.

        {{/* --- THIS IS THE NEW, ROBUST TAG CODE --- */}}
        {{ with $item.Params.tags }}
        <div class="pub-tags">
          {{ range . }}
            {{ $tag_link := (urls.Parse .).Path | lower | printf "tags/%s/" | site.BaseURL }}
            <a class="badge badge-light" href="{{ $tag_link }}">{{ . }}</a>
          {{ end }}
        </div>
        {{ end }}
        
      </div>

      {{/* Links */}}
      <div class="pub-links">
        {{ partial "page_links" (dict "page" $item "is_list" 1) }}
      </div>

    </div>
  </div>
</div>