{{ $item := .item }}
<div class="pub-list-item" style="margin-bottom: 1rem">
  <div class="row">

    {{/* --- CHANGE 1: ICON REMOVED --- */}}
    {{/* The 'col-auto' div that held the icon has been deleted. */}}

    <div class="col">

      {{/* Title */}}
      <div class="pub-title">
        <a href="{{$item.RelPermalink}}">{{ $item.Title | markdownify | emojify }}</a>
      </div>

      {{/* Authors and Year */}}
      <div class="pub-authors">
        {{ partial "page_metadata_authors" $item }}
        {{/* This adds (2025) to the end of the author line */}}
        <span class="pub-year">({{ $item.Date.Format "2006" }})</span>
      </div>

      <div class="pub-details">
        {{/* Publication details */}}
        <span class="pub-publication">
          {{- with $item.Params.publication -}}
            {{- . | markdownify | emojify -}}
          {{- end -}}
        </span>.

        {{/* --- CHANGE 2: BADGE LINK REMOVED --- */}}
        {{ with $item.Params.tags }}
        <div class="pub-tags">
          {{ range . }}
            {{/* This is now a 'span' so it is not clickable, */}}
            {{/* but 'badge' class retains styling and hover. */}}
            <span class="badge badge-light">{{ . }}</span>
          {{ end }}
        </div>
        {{ end }}
        
      </div>

      {{/* Links */}}
      <div class="pub-links">
        {{ partial "page_links" (dict "page" $item "is_list" 1) }}
      </div>

    </div>
  </div>
</div>