{{- $path := .Get "path" -}}
{{- $caption := .Get "caption" -}}
{{- $showHeader := false -}}
{{- with .Get "header" -}}
  {{- $showHeader = or (eq (lower (printf "%v" .)) "true") (eq (lower (printf "%v" .)) "1") (eq (lower (printf "%v" .)) "yes") -}}
{{- end -}}
{{- $resource := .Page.Resources.GetMatch $path -}}
{{- if not $resource -}}
  {{- errorf "table shortcode: unable to find resource %q on page %q" $path .Page.File.Path -}}
{{- else -}}
  {{- $raw := replaceRE "\r\n" "\n" $resource.Content -}}
  {{- $lines := split (trim $raw "\n\r ") "\n" -}}
  {{- if gt (len $lines) 0 -}}
<div class="table-responsive">
  <table class="table">
    {{- if $caption -}}
    <caption>{{ $caption }}</caption>
    {{- end -}}
    {{- $startIndex := 0 -}}
    {{- if $showHeader -}}
      {{- $headerCells := split (index $lines 0) "," -}}
    <thead>
      <tr>
        {{- range $headerCells -}}
        <th>{{ trim . " \t" }}</th>
        {{- end -}}
      </tr>
    </thead>
      {{- $startIndex = 1 -}}
    {{- end -}}
    <tbody>
      {{- range $lineIndex, $line := $lines -}}
        {{- if ge $lineIndex $startIndex -}}
          {{- if ne (trim $line " \t") "" -}}
      <tr>
            {{- range split $line "," -}}
        <td>{{ trim . " \t" }}</td>
            {{- end -}}
      </tr>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    </tbody>
  </table>
</div>
  {{- end -}}
{{- end -}}
